build
tests/expected_result/tmp/
tests/expected_result/*fa
tests/celegans-A*
tests/*tsv
analysis_scripts/adjust_blocks_for_pirs-snps-indels.py
analysis_scripts/annotate_indel_blocks.py
analysis_scripts/assess_genomes_per_synteny_blocks_disb.py
analysis_scripts/assess_ntjoin-synteny_general.py
analysis_scripts/convert_halsynteny_to_ntsynt_blocks.py
analysis_scripts/convert_phylip_to_pairwise_dists.py
analysis_scripts/convert_sibeliaz_to_ntsynt_blocks.py
analysis_scripts/convert_snakemake-time-ranges.py
analysis_scripts/convert_syri_to_ntsynt_blocks.py
analysis_scripts/format_blocks_chromosome_painting.py
analysis_scripts/format_blocks_gggenomes.sh
analysis_scripts/format_for_visualization.py
analysis_scripts/halSynteny_benchmarks_parse.py
analysis_scripts/identify_large_differences.py
analysis_scripts/run_halSynteny.sh
analysis_scripts/run_sibeliaz.sh
analysis_scripts/run_syri.sh
analysis_scripts/sort_ntsynt_blocks.py
analysis_scripts/survivor_ground-truth-bed_general.py
analysis_scripts/synteny_distance_estimation_groups.py
ntSynt_build
tests/*fai
**/__pycache__
**/*bf
